body {
	font-family: Roboto;
	color:#535758;
}

h2 {
	font-family: PlayfairDisplay;
	font-size: 6rem;
}

h3 {
	font-family: PlayfairDisplay;
	font-size: 1.5rem;
}
footer {
	background-color: #121619;
	padding: 30px;
	width: 100%;
	height: 100px;
}
footer img {
	width: 100px;
}

nav.navbar_barber {
	background-color: #121619;
}

nav a img {
	width: 100px;
}
.container {
	width: 70%;
}
.header_barber {
	background-image: url(../img/post-image.jpg);
	background-size: 100%;
	color: white;
	text-align: center;
	height: 100vh;
	position: relative;
}
.header_barber__title {
	position: absolute;
	top: 50%;
	width: 72%;
	transform: translateY(-50%);	
}
.header_barber__icon {
	width: 90px;
	position: absolute;
	bottom: 1rem;
}
.title_blog {
	padding: 2rem 0 2rem 0;
}
.icon_baber {
	width: 25px;
	padding: .3rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.icon_social {
	color: white;
	font-size: 1.4rem;
	width: auto;
	padding: .6rem;
    background-color: #535758;
    border-radius: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
}
.icon_social__large {
	color: white;
	font-size: 1.4rem;
	width: 160px;
	padding: .6rem;
    background-color: #535758;
    border-radius: 1.5rem;
    height: auto;
}
.icon_social__large p {
	font-size: 0.7rem;
	display: inline;
	margin-bottom: 0.9rem;
}
.author {
	width: 100%;
	height: auto;
	margin-top: 70px;
	border: 1px solid #dee2e6;
	z-index: 1;
}
.icon_box {
	width: 100%
	height: 50px;
	z-index: 2;
	transform: translateY(-50%);
}
.rounded_img {
	width: 100%;
	border: 1px solid #dee2e6;
}
.switch_block {
	width: 100%;
	height: 100px;
	padding-top: 35px;
	background-color: #dee2e6;
	margin-top: 20px;
}
.switch_block a {
	color:#707070;
	text-decoration: none;
	font-size: 1.2rem;
}